<!DOCTYPE html>
<html>
  <head>
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Number of Rooms</th>
          <th>Address</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Chain Name</th>
          <th>City</th>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <% if (results) { %>
          <% results.forEach(result => { %>
            <tr>
              <td><%= result.id_hotel %></td>
              <td><%= result.nombre_chambres %></td>
              <td><%= result.adresse %></td>
              <td><%= result.email %></td>
              <td><%= result.tel %></td>
              <td><%= result.nom_chaine %></td>
              <td><%= result.ville %></td>
              <td><%= result.category %></td>
            </tr>
          <% }) %>
        <% } else { %>
          <tr>
            <td colspan="8">No results found.</td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
